<footer class="blog-footer mt-auto">
  <p>
    Situs milik <a href="http://www.cybergl.co.id/company.php">Cyber Gov Labs</a>. Situs ini menggunakan teknologi <a href="https://pages.github.com/">Github Pages</a>; Laporkan kesalahan di <a href="https://github.com/products-of-cybergl/products-of-cybergl.github.io/issues">sini</a> & ikut berkontribusi menulis di <a href="https://github.com/products-of-cybergl/products-of-cybergl.github.io/blob/master/README.md">sini</a>.
  </p>
</footer>

<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/popper/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
