<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">{{site.title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Krisna</a>
          <div class="dropdown-menu">
            <a class="nav-link" href="{{site.url}}">Informasi Dasar</a>
            <a class="nav-link" href="{{site.url}}/krisna/apa-itu-renjakl">RenjaKL</a>
            <a class="nav-link" href="{{site.url}}/krisna/apa-itu-renstrakl">RenstraKL</a>
            <a class="nav-link" href="{{site.url}}/krisna/apa-itu-rkp">RKP</a>
            <a class="nav-link" href="{{site.url}}/krisna/apa-itu-selaras">Selaras</a>
            <a class="nav-link" href="{{site.url}}/krisna/apa-itu-dak-fisik">DAK Fisik</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Sidalih</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Framework Gov2</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
