<!-- Navigation -->
<nav class="navbar navbar-light navbar-expand-lg mb-4 py-1">
  <div class="container">
    <h1 class="site-logo"><a class="navbar-brand tracked" href="#top"><img class="logo-icon" src="http://www.cybergl.co.id/images/logo.gif" alt="logo-cybergl" width="53px"> <span class="logo-text">{{site.title}}</span></a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Krisna</a>
          <div class="dropdown-menu">
            <a class="nav-link" href="{{site.url}}">Informasi Dasar</a>
            <!--<a class="nav-link" href="{{site.url}}/krisna/apa-itu-renjakl">RenjaKL</a>
            <a class="nav-link" href="{{site.url}}/krisna/apa-itu-renstrakl">RenstraKL</a>
            <a class="nav-link" href="{{site.url}}/krisna/apa-itu-rkp">RKP</a>
            <a class="nav-link" href="{{site.url}}/krisna/apa-itu-selaras">Selaras</a>
            <a class="nav-link" href="{{site.url}}/krisna/apa-itu-dak-fisik">DAK Fisik</a>-->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Sidalih</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/gov2/pengenalan' | absolute_url }}">Framework Gov2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://cybergl.co.id">Kembali ke Cybergl.co.id</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
